<h1>Listing historical_projects</h1>

<table>
  <thead>
    <tr>
      <th>Id projeto</th>
      <th>User id admin</th>
      <th>Tipo</th>
      <th>Descricao</th>
      <th>Visivel cliente</th>
      <th>Inserido cliente</th>
      <th>Data criacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historical_projects.each do |historical_project| %>
      <tr>
        <td><%= historical_project.id_projeto %></td>
        <td><%= historical_project.user_id_admin %></td>
        <td><%= historical_project.tipo %></td>
        <td><%= historical_project.descricao %></td>
        <td><%= historical_project.visivel_cliente %></td>
        <td><%= historical_project.inserido_cliente %></td>
        <td><%= historical_project.data_criacao %></td>
        <td><%= link_to 'Show', historical_project %></td>
        <td><%= link_to 'Edit', edit_historical_project_path(historical_project) %></td>
        <td><%= link_to 'Destroy', historical_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historical project', new_historical_project_path %>
